In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor

In [2]:
df = pd.read_excel("ANZ synthesised transaction dataset.xlsx")

In [3]:
df.columns

Index(['status', 'card_present_flag', 'bpay_biller_code', 'account',
       'currency', 'long_lat', 'txn_description', 'merchant_id',
       'merchant_code', 'first_name', 'balance', 'date', 'gender', 'age',
       'merchant_suburb', 'merchant_state', 'extraction', 'amount',
       'transaction_id', 'country', 'customer_id', 'merchant_long_lat',
       'movement'],
      dtype='object')

In [4]:
# selecting important featuers
df=df[["customer_id","age","txn_description","balance","amount"]]
print(df.head())

      customer_id  age txn_description  balance  amount
0  CUS-2487424745   26             POS    35.39   16.25
1  CUS-2487424745   26       SALES-POS    21.20   14.19
2  CUS-2142601169   38             POS     5.71    6.42
3  CUS-1614226872   40       SALES-POS  2117.22   40.90
4  CUS-2487424745   26       SALES-POS    17.95    3.25

In [6]:
print(df['txn_description'].unique())

['POS' 'SALES-POS' 'PAYMENT' 'INTER BANK' 'PAY/SALARY' 'PHONE BANK']

In [7]:
df_salaries = df[df["txn_description"]=="PAY/SALARY"].groupby("customer_id").mean()
df_salaries.head()

                age       balance   amount
customer_id
CUS-1005756958   53   4718.665385   970.47
CUS-1117979751   21  11957.202857  3578.65
CUS-1140341822   28   5841.720000  1916.51
CUS-1147642491   34   8813.467692  1711.39
CUS-1196156254   34  23845.717143  3903.73

In [8]:
salaries = []

for customer_id in df["customer_id"]:
    salaries.append(int(df_salaries.loc[customer_id]["amount"]))
    
df["annual_salary"] = salaries

In [9]:
df_cus = df.groupby("customer_id").mean()
df_cus.head()

                age       balance      amount  annual_salary
customer_id
CUS-1005756958   53   2275.852055  222.862603            970
CUS-1117979751   21   9829.929000  339.843700           3578
CUS-1140341822   28   5699.212250  212.632500           1916
CUS-1147642491   34   9032.841186  245.600169           1711
CUS-1196156254   34  22272.433755  147.145796           3903

In [10]:
N_train = int(len(df_cus)*0.8)
X_train = df_cus.drop("annual_salary", axis=1).iloc[:N_train]
Y_train = df_cus["annual_salary"].iloc[:N_train]
X_test = df_cus.drop("annual_salary", axis=1).iloc[N_train:]
Y_test = df_cus["annual_salary"].iloc[N_train:]

In [11]:
linear_reg = LinearRegression()

In [12]:
linear_reg.fit(X_train, Y_train)
linear_reg.score(X_train, Y_train)

0.21259198708239269

In [13]:
linear_reg.predict(X_test)

array([1689.21475616, 2806.76652581, 1928.25181123, 1577.80939695,
       2044.01115441, 2111.81735069, 1834.16990672, 4741.89338313,
       1904.81251164, 2000.32973984, 1750.59608307, 2876.71074902,
       2068.75166805, 3680.93290953, 2211.9624276 , 1939.38879228,
       2043.95693588, 1421.62646316, 1913.5395268 , 2409.37514422])

In [14]:
linear_reg.score(X_test, Y_test)

-0.22464335028688742